body {
  background-color: #1a1a1b;
  color: #d7dadc;
  text-align: center;
  font-size: medium;
}

.header_all {
  display: inline;
}
.header_text {
  color: rgb(236, 84, 40);
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

.article_list {
  list-style: none;
  animation: animated-border 1.5s infinite;
  font-family: Arial;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  text-emphasis: bold;
  margin: 1% 35% 1% 35%;
}
.home_list {
  list-style: none;
  animation: animated-border 1.5s infinite;
  font-family: Arial;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  text-emphasis: bold;
  margin: 1% 35% 1% 35%;
}
.home_extras_list {
  margin: 1% 35% 1% 35%;
  list-style: none;
  animation: animated-border 1.5s infinite;
  font-family: Arial;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  text-emphasis: bold;
}
.comment_list {
  animation: animated-border 1.5s infinite;
  font-family: Arial;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  margin: 5% 0 5% 0;
}

.article_header {
  text-decoration: underline;
}

button {
  font-size: medium;
  color: rgb(236, 84, 40);
  border: 5px solid rgb(236, 84, 40);
  border-radius: 10px;
  text-shadow: 0 1px 0 rgb(236, 84, 40);
  margin: 0 5px 5px 5px;
}

@import url(https://fonts.googleapis.com/css?family=Audiowide);

.container {
  background: rgb(236, 84, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
}

.loading {
  display: flex;
  flex-direction: row;
}
.loading__letter {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 4px;
  font-family: 'Audiowide';
  color: #fec468;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1400px) {
  .comment_form {
    width: 75%;
  }
  .article_list {
    width: 75%;
    padding: 0;
    margin: 0;
    width: 100%;
    margin: 10px 0 10px 0;
  }
  ul.main_list {
    padding: 0;
    margin-left: 15%;
    width: 75%;
  }
  .home_list {
    width: 75%;
    padding: 0;
    margin-left: 22%;
  }
  .home_extras_list {
    width: 75%;
    padding: 0;
    margin-left: 22%;
  }
}

@media (max-width: 700px) {
  button {
    margin: 0;
    width: 90%;
  }
  .comment_form {
    width: 75%;
  }

  .loading__letter {
    font-size: 50px;
  }
  .article_list {
    width: 75%;

    margin: 0;
    width: 100%;
    margin: 10px 0 10px 0;
  }
  ul.main_list {
    padding: 0;
    margin-left: 15%;
    width: 75%;
  }

  .home_list {
    width: 50%;
    padding: 0;
    margin-right: 22%;
  }
  .home_extras_list {
    width: 50%;
    padding: 0;
    margin-left: 22%;
  }

  .sort_btn_nav,
  nav.sort_btn_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  button.sort-button,
  a.sort-button {
    width: 90%;
    margin-bottom: 10px;
    flex: 0 0 50%;
  }
}

@media (max-width: 340px) {
  .loading__letter {
    font-size: 40px;
  }
  .article_list {
    width: 320px;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  ul.main_list {
    padding: 0;
    margin-left: 5%;
    width: 100%;
  }
}
